
    <!-- Footer Start -->
    <div class="footer-section dark-footer">

        <!-- Footer Copyright Start -->
        <div class="footer-copyright">
            <div class="container custom-container">
                <div class="row row-cols-1 row-cols-md-2 align-items-center">
                    <div class="col order-2 order-md-1">
                        <!-- Footer Copyright Text Start -->
                        <div class="footer-copyright-text">
                            <p><strong> Luxten </strong> &copy; 2023 All Reserved</p>
                        </div>
                        <!-- Footer Copyright Text End -->
                    </div>
                    <div class="col order-1 order-md-2">
                        <!-- Footer Payment Icon Start -->
                        <ul class="footer-payment">
                            <li>
                              <a class="footer-payment-link" href="#">
                                <svg fill="#ffffff" width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2.03998C6.5 2.03998 2 6.52998 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.84998C10.44 7.33998 11.93 5.95998 14.22 5.95998C15.31 5.95998 16.45 6.14998 16.45 6.14998V8.61998H15.19C13.95 8.61998 13.56 9.38998 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96C15.9164 21.5878 18.0622 20.3855 19.6099 18.57C21.1576 16.7546 22.0054 14.4456 22 12.06C22 6.52998 17.5 2.03998 12 2.03998Z"/>
                                </svg>
                              </a>
                            </li>
                            <li>
                               <a class="footer-payment-link" href="#">
                                <svg fill="#ffffff" width="26px" height="26px" viewBox="0 0 20 20" data-name="Instagram w/circle" xmlns="http://www.w3.org/2000/svg"><path d="M13.498 6.651a1.656 1.656 0 0 0-.95-.949 2.766 2.766 0 0 0-.928-.172c-.527-.024-.685-.03-2.02-.03s-1.493.006-2.02.03a2.766 2.766 0 0 0-.929.172 1.656 1.656 0 0 0-.949.95 2.766 2.766 0 0 0-.172.928c-.024.527-.03.685-.03 2.02s.006 1.493.03 2.02a2.766 2.766 0 0 0 .172.929 1.656 1.656 0 0 0 .95.949 2.766 2.766 0 0 0 .928.172c.527.024.685.029 2.02.029s1.493-.005 2.02-.03a2.766 2.766 0 0 0 .929-.171 1.656 1.656 0 0 0 .949-.95 2.766 2.766 0 0 0 .172-.928c.024-.527.029-.685.029-2.02s-.005-1.493-.03-2.02a2.766 2.766 0 0 0-.171-.929zM9.6 12.168A2.568 2.568 0 1 1 12.168 9.6 2.568 2.568 0 0 1 9.6 12.168zm2.669-4.637a.6.6 0 1 1 .6-.6.6.6 0 0 1-.6.6zM11.267 9.6A1.667 1.667 0 1 1 9.6 7.933 1.667 1.667 0 0 1 11.267 9.6zM9.6 0a9.6 9.6 0 1 0 9.6 9.6A9.6 9.6 0 0 0 9.6 0zm4.97 11.661a3.67 3.67 0 0 1-.233 1.214 2.556 2.556 0 0 1-1.462 1.462 3.67 3.67 0 0 1-1.213.233c-.534.024-.704.03-2.062.03s-1.528-.006-2.062-.03a3.67 3.67 0 0 1-1.213-.233 2.556 2.556 0 0 1-1.462-1.462 3.67 3.67 0 0 1-.233-1.213c-.024-.534-.03-.704-.03-2.062s.006-1.528.03-2.062a3.67 3.67 0 0 1 .232-1.213 2.556 2.556 0 0 1 1.463-1.463 3.67 3.67 0 0 1 1.213-.232c.534-.024.704-.03 2.062-.03s1.528.006 2.062.03a3.67 3.67 0 0 1 1.213.232 2.556 2.556 0 0 1 1.462 1.463 3.67 3.67 0 0 1 .233 1.213c.024.534.03.704.03 2.062s-.006 1.528-.03 2.062z"/></svg>
                               </a>
                            </li>
                            <li>
                                <a class="footer-payment-link" href="https://wa.me/905010271819">
                                    <svg fill="#ffffff" width="27px" height="27px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34" id="whatsapp"><g><path d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16c8.836 0 16-7.164 16-16S24.837 0 16 0zm.008 24.004a9.196 9.196 0 0 1-4.257-1.047l-4.988 2.27 1.396-5.586a9.298 9.298 0 0 1-1.396-4.887c0-5.096 4.134-9.233 9.246-9.233 5.093 0 9.228 4.137 9.228 9.233-.001 5.113-4.135 9.25-9.229 9.25z"></path><path d="M16.008 7.371c-4.083 0-7.397 3.299-7.397 7.383a7.38 7.38 0 0 0 1.797 4.835l-1.012 2.566 2.251-1.431a7.257 7.257 0 0 0 4.361 1.431c4.082 0 7.379-3.316 7.379-7.4a7.373 7.373 0 0 0-7.379-7.384zm4.676 10.471c-.07.366-.942 1.152-1.623 1.309-1.465.331-3.541-.838-4.885-2.076-1.344-1.221-2.686-3.194-2.494-4.678.087-.681.802-1.623 1.151-1.745.157-.035.383-.035.593-.035.244.017.454.035.524.174l.785 2.042c.052.157-.07.331-.227.524-.226.262-.261.279-.471.559-.104.139-.035.314 0 .383.227.541.75 1.152 1.221 1.588.489.437 1.133.908 1.692 1.099.035 0 .244.087.401.052.139-.017.226-.122.348-.279.226-.279.314-.384.506-.646.157-.192.313-.262.472-.175l1.779.821c.14.07.192.244.209.489.036.211.054.438.019.594z"></path></g></svg>
                                </a>
                            </li>
                        </ul>
                        <!-- Footer Payment Icon End -->
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer Copyright End -->

    </div>
    <!-- Footer End -->