<style> 
</style>
    <div class="chat-icon" style="
        position: fixed;
        bottom: 110px !important; /* Alt kenardan 20px uzaklık */
        right: 20px; /* Sağ kenardan 20px uzaklık */
        width: 40px; /* Genişlik 20px */
        height: 40px; /* Yükseklik 20px */
        z-index: 999; /* İkonun diğer elemanlar üzerinde görünme önceliği */
     ">
        <!-- Buraya chat ikonunu ekleyebilirsiniz -->
        <a href="https://wa.me/905010271819"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/1200px-WhatsApp.svg.png" style="position: fixed; bottom: 110px; z-index: 10; right: 30px;" alt="" width="50" height="50" class="whats"></a>
    </div>

    <!-- Header Start -->
    <div class="header-section header-sticky-05">
        <div class="container custom-container-two position-relative">

            <div class="headertop">
                <div class="headertop-left">
                    <ul class="hotline-wrapper">
                        <li>
                            <div class="hotline">
                                <i class="lastudioicon lastudioicon-support248"></i>
                                <div class="hotline-content">
                                    <span class="hotline-text">Contact</span>
                                    <a class="hotline-link" href="tel:905010271819">+90 (501) 027-1819</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hotline">
                                <i class="lastudioicon lastudioicon-pin-check"></i>
                                <div class="hotline-content">
                                    <span class="hotline-text">Location</span>
                                    <a class="hotline-link" href="https://maps.app.goo.gl/KGEkFccqsF91reuM7">Bakı, Yeni Günəşli, Avtok1ub Service</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="headertop-center">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="/"><img src="https://imgs.search.brave.com/6QNgthOf27uIxXWu54whb3TkILnrDQ4i3yrBRJUKXug/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAzLzUzLzg3LzY5/LzM2MF9GXzM1Mzg3/Njk2MF9Ydzk4Vmlm/d0JBRFZRcDR6eTBt/c3dScHBaZHQxMnFn/UC5qcGc" width="100" alt="Logo"></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="headertop-right">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <ul class="header-meta__action header-meta__action-02 d-flex justify-content-end">
                            <li class="d-sm-block d-none">
                                <form action="#" class="search-form">
                                    <input type="search" class="search-form-field" placeholder="Search Product...">
                                    <button class="search-form-btn"><i class="lastudioicon-zoom-1"></i></button>
                                </form>
                            </li>
                            <li class="d-block d-sm-none">
                                <button class="action search-open">
                                    <i class="lastudioicon-zoom-1"></i>
                                </button>
                            </li>
                            <li class="d-lg-none">
                                <button class="action" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"><i class="lastudioicon-menu-8-1"></i></button>
                            </li>
                        </ul>
                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Header Menu Start -->
                    <div class="header-menu d-none d-lg-block">
                        <ul class="header-primary-menu header-primary-menu-05 d-flex justify-content-center">
                            <li>
                                <a href="/" class="menu-item-link active"><span>Home</span></a>
                            </li>
                            <li class="position-static">
                                <a class="menu-item-link" href="/category"><span>Category</span></a>
                        
                                    </li>
                            <li><a class="menu-item-link" href="/gallery"><span>Galery</span></a>
                            </li>
                            <li><a class="menu-item-link" href="/about"><span>About</span></a>
                            </li>
                            <li><a class="menu-item-link" href="/contact"><span>Order Now</span></a></li>
                        </ul>
                    </div>
                    <!-- Header Menu End -->
                </div>
            </div>

        </div>
    </div>
    <!-- Header End -->

    <!-- Search Start  -->
    <div class="search-popup position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center p-6 bg-black bg-opacity-75">
        <div class="search-popup__form position-relative">
            <form action="#">
                <input class="search-popup__field border-0 border-bottom bg-transparent text-white w-100 tra py-3" type="text" placeholder="Search…">
                <button class="search-popup__icon text-white border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y"><i class="lastudioicon-zoom-1"></i></button>
            </form>
        </div>
        <button class="search-popup__close position-absolute top-0 end-0 m-8 p-3 lh-1 border-0 text-white fs-4"><i class="lastudioicon-e-remove"></i></button>
    </div>
    <!-- Search End -->


    <!-- offcanvas Menu Start -->
    <div class="offcanvas offcanvas-end offcanvas-menu bg-secondary" id="offcanvasMenu">
        <div class="offcanvas-header justify-content-end">
            <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas"><i class="lastudioicon-e-remove"></i></button>
        </div>
        <div class="offcanvas-body">
            <ul class="mobile-primary-menu">
                <li>
                    <a href="/" class="menu-item-link"><span>Home</span></a>
                </li>
                <li class="position-static">
                    <a class="menu-item-link" href="/category"><span>Category</span></a>
                 
                </li>
                <li><a class="menu-item-link" href="/gallery"><span>Galery</span></a>
                 
                </li>
                <li><a class="menu-item-link" href="/about"><span>About</span></a>

                </li>
                <li><a class="menu-item-link" href="/contact"><span>Order Now</span></a></li>
            </ul>
            <ul class="hotline-wrapper offcanvas-hotline">
                <li>
                    <div class="hotline">
                        <i class="lastudioicon lastudioicon-support248"></i>
                        <div class="hotline-content">
                            <span class="hotline-text">Əlaqə</span>
                            <a class="hotline-link" href="tel:905010271819">+90 (501) 027-1819</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="hotline">
                        <i class="lastudioicon lastudioicon-pin-check"></i>
                        <div class="hotline-content">
                            <span class="hotline-text">Location</span>
                            <a class="hotline-link" href="https://maps.app.goo.gl/KGEkFccqsF91reuM7">Bakı, Yeni Günəşli, Avtok1ub Service</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- offcanvas Menu End -->
