<%-include("./inc/head.ejs")%>
<%-include("./inc/nav.ejs")%>


    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb" data-bg-image="https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h1 class="breadcrumb_title">Contact Us</h1>
                        <ul class="breadcrumb_list">
                            <li><a href="/">Home</a></li>
                            <li>Order</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Contact Form Section Start -->
    <div class="contact-section3">
        <div class="container-fluid g-0 section-padding-03 pt-0">
            <div class="row g-0 align-items-end">
                <div class="col-md-6 col-12">
                    <!-- Google Map Area Start -->
                    <div class="google-map-area w-100" data-aos="fade-up" data-aos-duration="1000">
                          <iframe class="contact-map_two" src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d3039.9926016887935!2d49.9851799!3d40.3646884!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDIxJzUyLjkiTiA0OcKwNTknMDYuNyJF!5e0!3m2!1str!2saz!4v1695393868298!5m2!1str!2saz"></iframe>
                    </div>
                    <!-- Google Map Area Start -->
                </div>
                <div class="col-md-6 col-12">
                    <div class="contact-section3_formbg">
                        <h2 class="contact-section3_form__title">Order Now</h2>
                        <p class="contact-section3_form__text">example text, example text, example text, example text,</p>
                        <form id="sifarisForm" class="contact-section3_form" id="contact-form" action="/submit-order" method="post">
                            <div class="row">
                                <div class="col-12 form-p">
                                    <div class="form-group">
                                        <input class="form-field" type="text" placeholder="Adınız Və Soyadınız*" name="adSoyad" required>
                                    </div>
                                </div>
                                <div class="col-12 form-p">
                                    <div class="form-group">
                                        <input id="mobilNomre" class="form-field" type="text" value="+90 " maxlength="25" name="mobilNomre" required>
                                        <p id="mobilNomreError" style="font-size: 14px; color: #f00; display: none;">Number Is Wrong, please try again</p>
                                    </div>
                                </div>
                                <div class="col-12 form-p">
                                    <div class="form-group">
                                        <textarea class="form-control form-field text-area" name="tesvir" placeholder="Təsvir Edin*" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 form-p">
                                    <div class="form-group mb-0 d-flex justify-content-end">
                                        <button class="btn btn-secondary btn-hover-primary" type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Message Notification -->
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container custom-container section-padding-03 pt-0">
            <div class="row row-cols-md-3 row-cols-1 content-list">
                <div class="col">
                    <div class="contact-section3_content">
                        <span class="contact-section3_content__icon"><i class="lastudioicon lastudioicon-pin-3-2"></i></span>
                        <span class="contact-section3_content__title">Location</span>
                        <span class="contact-section3_content__text"><a href="https://maps.app.goo.gl/KGEkFccqsF91reuM7">Bakı, Yeni Günəşli, Avtoklub Service</a></span>
                    </div>
                </div>
                <div class="col">
                    <div class="contact-section3_content">
                        <span class="contact-section3_content__icon"><i class="lastudioicon lastudioicon-phone-2"></i></span>
                        <span class="contact-section3_content__title">Contact Number</span>
                        <span class="contact-section3_content__text"><a href="tel:905010271819">+90 (501) 027-1819</a></span>
                    </div>
                </div>
                <div class="col">
                    <div class="contact-section3_content">
                        <span class="contact-section3_content__icon"><i class="lastudioicon lastudioicon-mail"></i></span>
                        <span class="contact-section3_content__title">Email Addresimiz</span>
                        <span class="contact-section3_content__text"><a href="mailto:luxtenpark@outlook.com">luxtenpark@outlook.com</a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form Section End -->
    <script>
        function validatePhoneNumber(input) {
            var phoneNumber = input.value.replace(/\D/g, '');

            if (/^\+9945[012345679]\d{7}$/.test(phoneNumber)) {
                document.getElementById("mobilNomreError").style.display = "none";
            } else {
                document.getElementById("mobilNomreError").style.display = "block";
            }
        }
    </script>
<%-include("./inc/footer.ejs")%>
    </div>
<%-include("./inc/script.ejs")%>
</body>

</html>
